<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <div><a href="/">signin</a></div>
        <div><a href="/signup">signup</a></div>
        <div><a href="/user">user</a></div>
        <div><a href="/gifts">gifts</a></div>
        <div><a href="/logout">logout</a></div>
    </div>
    <h1>gift of {{ username }}</h1>
    <ul>
        {% for gift in gifts %}
            <li>{{ gift.name }}</li>
        {% endfor %}
    </ul>
</body>
</html>